.Footer-Container {
  width: 100%;
  height: 7vh;
  bottom: 0;
  text-align: center;
  color: white;
  background: transparent linear-gradient(90deg, #5a5789 0%, #2d2c45 100%) 0% 0%
    no-repeat padding-box;

  display: flex;
  justify-content: center;
  align-items: center;
}
